Apps/*/bin/
Apps/*/obj/
Apps/*/*.layout
Modules/*/*.layout
Modules/*/.*cmd
Modules/*/.tmp_versions/
Modules/*/modules.order
Modules/*/Module.symvers
Modules/*/*.ko
Modules/spi_module/*.mod.c
Modules/spi_module/*.o


